body {
background-color: rgb(0, 155, 0);
}

body {
    margin-left: 5em;
}

div {
display: block;
position:absolute
det er den dårligste metode jeg kunne finde
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fc8c02;
}

h3  {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/caveat/v18/Wnz6HAc5bAfYB2Q7aDYYmg8.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, 
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

img {
    display: block;
    max-width: 20em;
    max-height: 20em;
}